/* Header */

.header {
  position: relative;
  flex-direction: column;
  padding: 3rem 4rem 2rem;
  background-color: var(--black);
}

.header::after {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 0.8rem;
  background-image: url("../img/triangle.svg");
  content: "";
}

.header__container {
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 2rem;
}

.header__phone-link {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.header__phone-image {
  margin-top: 4px;
  margin-right: 5px;
}

.header__logo {
  padding-right: 123px;
  /* выставляет логотип посередине */
}

.header__cart-link {
  position: relative;
  
}

.header__cart-link--image {
  width: 24px;
  height: 24px;
}

.header__cart-link--sum {
  position: absolute;
  left: -150%;
  width: 40px;
  height: 15px;
  padding-top: 5px;
  font-size: 1.2rem;
}

.header__cart-link--counter {
  position: absolute;
  right: -8px;
  top: -4px;
  width: 15px;
  height: 15px;
  padding-top: 3px;
  padding-right: 1px;
  text-align: center;
  background-color: var(--orange);
  border-radius: 50%;
}

.header__nav--list {
  justify-content: center;
}

.header__nav--link {
  padding: 1rem;
  font-size: 1.4rem;
  text-transform: uppercase;
}

/* Menu */

.menu {
  padding: 2rem;
  padding-top: 2.8rem;
  /* компенсация треугольников у хедера */
  background-color: var(--orange);
}

.menu__list {
  justify-content: center;
}

.menu__item--image {
  width: 24px;
  height: 24px;
}

.menu__link {
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--black);
}

.menu__item--name {
  padding-top: 5px;
}

/* Pizza */

.pizza {
  padding: 4rem;
  background-image: url("../img/wood.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.circle-menu {
  position: relative;
  width: 36rem;
  height: 36rem;
  margin: 0 auto;
  background-color: transparent;
}

.circle-menu__btn {
  position: absolute;
  top: 44%;
  left: 42%;
  z-index: 10;
  width: 6rem;
  height: 4rem;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 50%;
  background-color: var(--orange);
  box-shadow: 0 0 2px 2px var(--grey);
}

.circle-menu__list {
  position: absolute;
  width: 30rem;
  height: 30rem;
  margin: 3rem;
  padding: 0;
  list-style: none;
  border-radius: 50%;
  overflow: hidden;
}

.circle-menu__item {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 160px;
  height: 160px;
  transform-origin: 100% 100%;
  overflow: hidden;
  background-color: var(--black);
}

.circle-menu__item:first-child {
  transform: rotate(0deg) skew(30deg);
}

.circle-menu__item:nth-child(2) {
  transform: rotate(60deg) skew(30deg);
}

.circle-menu__item:nth-child(3) {
  transform: rotate(120deg) skew(30deg);
}

.circle-menu__item:nth-child(4) {
  transform: rotate(180deg) skew(30deg);
}

.circle-menu__item:nth-child(5) {
  transform: rotate(240deg) skew(30deg);
}

.circle-menu__item:nth-child(6) {
  transform: rotate(300deg) skew(30deg);
}

.pizza__wrapper {
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.pizza-article {
  flex-direction: column;
}

.pizza-article__title {
  padding-bottom: 1rem;
  font-size: 1.8rem;
}

.pizza-article__description {
  padding: 0 3rem;
  font-family: Tahoma, sans-serif;
  font-size: 1.6rem;
}

.pizza-article__value {
  font-family: Tahoma, sans-serif;
  font-size: 1.4rem;
}

.pizza-article__btn {
  width: 2rem;
  height: 2rem;
  background-color: var(--orange);
  color: var(--white);
  border-radius: 0.5rem;
}

/* Advantages */

.advantages {
  padding: 3rem;
  color: var(--black);
  background-color: #64400F;
  background-image:
    linear-gradient(rgba(218, 165, 32, 0.85) 0, rgba(218, 165, 32, 0.85) 100%),
    url("../img/pizza-background.jpg");
}

.advantages__container {
  justify-content: space-evenly;
}

.advantages-block {
  flex-direction: column;
  text-align: center;
  gap: 5px;
  max-width: 20%;
}

.advantages-block__image {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 24px;
}

.advantages-block__heading {
  padding-bottom: 1.5rem;
  font-size: 1.8rem;
}

.advantages-block__text {
  font-size: 1.6rem;
}

/* Delivery */

.delivery {
  padding: 3rem;
  background-color: var(--black);
  color: var(--white)
}

.delivery__title {
  padding-bottom: 2rem;
  font-size: 1.8rem;
}

.delivery__text {
  font-size: 1.4rem;
}

/* Location */

.locations {
  padding: 3rem;
  background: linear-gradient(var(--black), var(--grey), var(--black));
}

.locations__title {
  padding-bottom: 1rem;
  font-size: 1.8rem;
}

.locations__list {
  gap: 30px;
}

.tabs__btn {
  margin-bottom: 1rem;
  padding: 1rem;
  color: var(--white);
  font-size: 1.4rem;
}

.tabs__btn--active {
  border: 1px solid var(--white);
  border-radius: 0.2rem;
}

.tabs__item {
  display: none;
}

.tabs__item--active {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  font-size: 1.4rem;
}

.tabs__map {
  display: none;
}

.tabs__map--active {
  display: block;
  width: 80vw;
}

/* Tasty pictures */

.tasty {
  justify-content: center;
  background-color: var(--black);
}

.tasty__img {
  display: block;
  height: 150px;
  width: auto;
  overflow: hidden;
}

.tasty__img--additional {
  display: none;
}

@media (min-width: 1600px) {
  .tasty__img--additional {
    display: block;
  }
}

@media (max-width: 1000px) {
  .tasty__img--optional {
    display: none;
  }
}

@media (max-width: 700px) {
  .tasty__img--mobile-optional {
    display: none;
  }
}

/* Footer */

.footer {
  justify-content: space-between;
  padding: 3rem;
  background-color: var(--black);
}

.footer__link--mobile-image {
  width: 30px;
  height: 30px;
}

.footer__link--mobile-text {
  align-self: center;
  font-size: 1.4rem;
}

.socials {
  gap: 10px;
}

.socials__image {
  margin: auto;
  width: 24px;
  height: 24px;
}